.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

application/config/database.php
application/config/config.php
application/views/pages/Untitled-1.php
uploads/Copy_of_FMEAシステム(中之庄)_(002).pdf
uploads/Copy_of_FMEAシステム(中之庄)_(002)1.pdf
uploads/Copy_of_FMEAシステム(中之庄)_(002)2.pdf
uploads/TKCWeb_Sal_20220520.pdf
uploads/TKCWeb_Sal_202205201.pdf
